@font-face {
    src: url("../fonts/Proxima Nova Regular.otf");
    font-family: ProximaNova;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    src: url("../fonts/Proxima Nova Regular Italic.otf");
    font-family: ProximaNova;
    font-weight: 400;
    font-style: italic;
}
@font-face {
    src: url("../fonts/Proxima Nova Semibold.otf");
    font-family: ProximaNova;
    font-weight: 600;
    font-style: normal;
}
@font-face {
    src: url("../fonts/Proxima Nova Semibold Italic.otf");
    font-family: ProximaNova;
    font-weight: 600;
    font-style: italic;
}
@font-face {
    src: url("../fonts/Proxima Nova Thin.otf");
    font-family: ProximaNova;
    font-weight: 100;
    font-style: normal;
}
@font-face {
    src: url("../fonts/Proxima Nova Thin Italic.otf");
    font-family: ProximaNova;
    font-weight: 100;
    font-style: italic;
}
@font-face {
    src: url("../fonts/Proxima Nova Light.otf");
    font-family: ProximaNova;
    font-weight: 200;
    font-style: normal;
}
@font-face {
    src: url("../fonts/Proxima Nova Light.otf");
    font-family: ProximaNova;
    font-weight: 200;
    font-style: normal;
}
@font-face {
    src: url("../fonts/Proxima Nova Light Italic.otf");
    font-family: ProximaNova;
    font-weight: 200;
    font-style: italic;
}
@font-face {
    src: url("../fonts/Proxima Nova Extrabold.otf");
    font-family: ProximaNova;
    font-weight: 800;
    font-style: normal;
}
@font-face {
    src: url("../fonts/Proxima Nova Extrabold Italic.otf");
    font-family: ProximaNova;
    font-weight: 800;
    font-style: italic;
}
@font-face {
    src: url("../fonts/Proxima Nova Bold.otf");
    font-family: ProximaNova;
    font-weight: 700;
    font-style: normal;
}
@font-face {
    src: url("../fonts/Proxima Nova Bold Italic.otf");
    font-family: ProximaNova;
    font-weight: 700;
    font-style: italic;
}