.current__page {
    @include text(ProximaNova, 20px, 1.75, 400, rgb(0, 105, 180));
    text-decoration: none;
    transition: all 300ms ease;
    position: relative;
    z-index: 0;
    span {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: auto;
            right: 0;
            height: 10%;
            width: 0%;
            background: rgb(0, 105, 180);
            
            transition: all 300ms ease;
        }
    }
    &:hover {
        span {
            &:before {
                content: '';
                width: 100%;
                left: 0;
                right: 0;
            }
        }
    }
    
    & + span {
        @include text(ProximaNova, 20px, 1.75, 400, rgb(33, 33, 33));
    }
    & + span + h4 {
        @include text(ProximaNova, 20px, 1.75, 400, rgb(33, 33, 33));
    }
}
.about {
   
    h1 {
        @include text(ProximaNova, 48px, .875, 700, rgb(46, 46, 46));
    }
    h2 {
        @include text(ProximaNova, 26px, .962, 700, rgb(33, 33, 33));
        font-size: 26px;
        font-family: "ProximaNova";
        color: rgb(33, 33, 33);
        line-height: 0.962;
    }
    p {
        @include text(ProximaNova, 14px, 1.667, 400, rgb(33, 33, 33));
        margin-top: 30px;
    }
    img {
        width: 100%;
    }
    .about__wrapper {
        padding-top: 70px;
        padding-bottom: 70px;
        position: relative;
        &:after {
            position: absolute;
            content: url('../images/about__arrow2.png');
            bottom: 100%;
            left: 46%;
            margin-bottom: -30px;
        }
    }
    
    .about__wrapper:nth-of-type(odd) {
        background-color: rgb(244, 248, 250);
        &:after {
            position: absolute;
            content: url('../images/about__arrow.png');
            bottom: 100%;
            left: 46%;
            margin-bottom: -30px;
        }
        .row {
            flex-direction: row-reverse;
        }
    }
    .container:first-child + .about__wrapper {
        &:after {
            content: '';
        }
    }
    .arrow__cloud {
        position: relative;
        border-width: 10px;
        border-color: rgb(239, 244, 248);
        border-style: solid;
        background-color: rgb(255, 255, 255);
        padding-bottom: 37px;
        padding-top: 30px;
        padding-left: 50px;
        margin-bottom: 8rem;
        &:after {
            position: absolute;
            width: 35px;
            height: 35px;
            border: 10px solid #f0f4f8;
            top: 100%;
            left: 5%;
            content: '';
            transform: rotate(45deg);
            margin-top: -11px;
            background-color: #fff;
            border-top: 0px;
            border-left: 0px;
        }
        p {
            @include text(ProximaNova, 20px, 1.75, 400, rgb(33, 33, 33));
            margin: unset;
            max-width: 706px;
              
        }
        a {
            @include text(ProximaNova, 20px, 1.75, 700, rgb(33, 33, 33));
        }
        .background {
            position: absolute;
            max-width: 277px;
            max-height: 222px;
            width: 277px;
            height: 222px;
            right: 3%;
            bottom: -30%;
            background-image: url(../images/about__img-04.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position-x: 100%;
            background-position-y: 100%;
        }
    }
}
@media (max-width: 575px) {
    .about .about__wrapper:nth-of-type(even):after {
        content: '';
    }
   
    .about img {
        margin-top: 15px;
    }
    .about .arrow__cloud .background {
        display: none;
    }
    .about .arrow__cloud {
        padding-left: 15px;
    }
}
@media (max-width: 767px) {
    .about .arrow__cloud .background {
        width: 190px;
    }
}
@media (max-width: 991px) {
    .about .about__wrapper:after {
        left: 42%;
    }
    .about .arrow__cloud .background {
        width: 210px;
    }
}
