@-webkit-keyframes shine {
    100% {
      left: 125%; 
    } 
}
  
@keyframes shine {
    100% {
        left: 125%; 
    } 
}
.blogs {
    margin-bottom: 3rem;
    h1 {
        @include text(ProximaNova, 48px, .875, 700, $very-dark-gray);
    }
    p {
        @include text(ProximaNova, 14px, 1.667, 400, rgb(33, 33, 33));
        margin-top: 30px;
        
    }
    h3 {
        @include text(ProximaNova, 15px, 1.667, 700, rgb(33, 33, 33));
    }
    h2 {
        @include text(ProximaNova, 24px, 1.875, 600, rgb(33, 33, 33));
        margin-bottom: 30px;
    }
    .article__block {
        @include flex(column, wrap, stretch, space-between);
        margin-top: 15px;
        .img__wrapper {
            position: relative;
            overflow: hidden;
            &:before {
                position: absolute;
                top: 0;
                left: -75%;
                z-index: 2;
                display: block;
                content: '';
                width: 50%;
                height: 100%;
                background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
                background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
                -webkit-transform: skewX(-25deg);
                transform: skewX(-25deg);
            }
            &:hover {
                &:before {
                    -webkit-animation: shine .75s;
                    animation: shine .75s;
                }
            }
        }
        img {
            width: 100%;
            background-image: -moz-linear-gradient( 90deg, rgba(31,58,91,0) 0%, rgb(33,33,33) 100%);
            background-image: -webkit-linear-gradient( 90deg, rgba(31,58,91,0) 0%, rgb(33,33,33) 100%);
            background-image: -ms-linear-gradient( 90deg, rgba(31,58,91,0) 0%, rgb(33,33,33) 100%);
            opacity: 0.902;
            min-height: 193px;
            max-height: 193px;
            max-width: 247.05px;
            min-width: 247.05px;
        }
        p {
            margin-top: 15px;
        }
    }
}
.blog {
    margin-bottom: 3rem;
    h1 {
        @include text(ProximaNova, 48px, .875, 700, $very-dark-gray);
    }
    .article__content {
        border-width: 10px;
        border-color: rgb(239, 244, 248);
        border-style: solid;
        background-color: rgb(249, 253, 254);
        padding-left: 40px;
        padding-top: 35px;
        padding-bottom: 35px;
        h2 {
            @include text(ProximaNova, 24px, 2.917, 700, rgb(38, 50, 56));
        }
        ul {
            list-style-type: none;
            padding-left: 0;
            li {
                position: relative;
                padding-left: 45px;
                &:before {
                    content: url(../images/line_mark.png);
                    position: absolute;
                    top: 0%;
                    left: 0;
                }
                p {
                    @include text(ProximaNova, 15px, 2, 400, rgb(33, 33, 33));
                    margin-top: unset;
                }
            }
        }
    }
    p {
        @include text(ProximaNova, 14px, 1.667, 400, rgb(33, 33, 33));
        margin-top: 30px;
        
    }
    h3 {
        @include text(ProximaNova, 15px, 1.667, 700, rgb(33, 33, 33));
       
    }
    .inaction {
        margin-top: 40px;
            
        ul {
            list-style-type: none;
            padding-left: 0;
            margin-top: 20px;
            li {
                position: relative;
                padding-left: 25px;
                &:before {
                    content: url(../images/circle_mark.png);
                        position: absolute;
                        top: 0%;
                        left: 0;
                }
                p {
                    @include text(ProximaNova, 14px, 2, 400, rgb(33, 33, 33));
                    margin-top: unset;
                }
            }
        }
    }
    .text__container {
        margin-top: 45px;
        margin-bottom: 45px;
        .text__block {
            background-color: rgb(239, 244, 248);
            border-left: 5px solid rgb(145, 220, 90);
            padding-left: 46px;
            padding-top: 25px;
            padding-bottom: 25px;
            margin-top: 40px;
            p {
                @include text(ProximaNova, 15px, 1.667, 600, rgb(64, 64, 64));
                margin-top: unset;
            }
        }
    }
    .separator {
        background-color: rgb(202, 214, 223);
        width: 60px;
        height: 3px;
    }
    .layout__content {
        margin-bottom: 45px;
        margin-top: 45px;
        h2 {
            @include text(ProximaNova, 24px, 1.875, 700, rgb(38, 50, 56));
        }
        .img__wrapper {
            position: relative;
            margin-bottom: 100px;
            &:after {
                @include text(ProximaNova, 15px, 1.867, 400, $base-white-color);
                content: attr(img-caption);
                position: absolute;
                top: 99%;
                left: 0;
                background-color: rgb(31, 151, 243);
                display: flex;
                align-items: center;
                width: 100%;
                transition: height .3s ease-out;
                padding-left: 30px;
                height: 59px;
            }
            img {
                width: 100%;
                max-width: 1171;
                max-height: 539px;
            }
        }
    }
    .memorization__content {
        margin-top: 45px;
        h2 {
            @include text(ProximaNova, 24px, 1.875, 700, rgb(38, 50, 56));
        }
        h3 {
            margin-top: 30px;
            margin-bottom: 15px;
        }
        ol {
            @include text(ProximaNova, 18px, 1.389, 600, rgb(31, 151, 243));
            li {
                padding-left: 1rem;
                p {
                    margin-top: unset;
                    @include text(ProximaNova, 15px, 2.4, 400, rgb(38, 50, 56));
                }
            }
        }
        .text__block {
            background-color: rgb(239, 244, 248);
            padding-left: 59px;
            padding-top: 40px;
            padding-bottom: 35px;
            padding-right: 80px;
            margin-top: 50px;
            margin-bottom: 50px;
            p {
                @include text(ProximaNova, 18px, 1.667, 700, rgb(38, 50, 56));
                margin-top: unset;
            }
        }
        .share__wrapper {
            border-width: 10px;
            border-color: rgb(76, 175, 80);
            border-style: solid;
            padding-left: 57px;
            padding-top: 35px;
            padding-bottom: 35px;
            position: relative;
            transition: all 1s ease;
            &:before {
                content: '';
                width: 45px;
                height: 10px;
                position: absolute;
                bottom: 100%;
                left: 5%;
                background-color: #fff;
                transition: all 1s ease;
            }
            &:after {
                content: '';
                width: 45px;
                height: 10px;
                position: absolute;
                top: 100%;
                right: 5%;
                background-color: #fff;
                transition: all 1s ease;
            }
            &:hover {
                &:before {
                    left: 90%;
                }
                &:after {
                    right: 90%;
                }
            }
            h2 {
                margin-top: unset;
                @include text(ProximaNova, 22px, 1.591, 700, rgb(68, 68, 68));
            }
            p {
                @include text(ProximaNova, 15px, 2, 400, rgb(68, 68, 68));
                margin-top: unset;
            }
            .air__left {
                padding-left: 3rem;
            }
            .ya-share2__container_size_m .ya-share2__icon {
                height: 30px;
                width: 30px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 30px 30px;
            }
        }
    }
    .other__wrapper {
        h2 {
            @include text(ProximaNova, 24px, 1.875, 600, rgb(33, 33, 33));
            margin-bottom: 30px;
        }
        .other__block {
            @include flex(column, wrap, stretch, space-between);
            .img__wrapper {
                position: relative;
                overflow: hidden;
                &:before {
                    position: absolute;
                    top: 0;
                    left: -75%;
                    z-index: 2;
                    display: block;
                    content: '';
                    width: 50%;
                    height: 100%;
                    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
                    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
                    -webkit-transform: skewX(-25deg);
                    transform: skewX(-25deg);
                }
                &:hover {
                    &:before {
                        -webkit-animation: shine .75s;
                        animation: shine .75s;
                    }
                }
            }
            img {
                width: 100%;
                background-image: -moz-linear-gradient( 90deg, rgba(31,58,91,0) 0%, rgb(33,33,33) 100%);
                background-image: -webkit-linear-gradient( 90deg, rgba(31,58,91,0) 0%, rgb(33,33,33) 100%);
                background-image: -ms-linear-gradient( 90deg, rgba(31,58,91,0) 0%, rgb(33,33,33) 100%);
                opacity: 0.902;
                min-height: 193px;
                max-height: 193px;
                max-width: 247.05px;
                min-width: 247.05px;
            }
            p {
                margin-top: 15px;
            }
        }
    }
}
@media (max-width: 575px) {
    
    .blog .article__content {
        padding-left: 20px;
    }
    .blog .text__container .text__block {
        padding-left: 25px;
    }
    .blog .layout__content .img__wrapper:after {
        top: 98%;
    }
    .blog .memorization__content .text__block {
        padding-left: 20px;
        padding-right: 20px;
    }
    .blog .memorization__content .share__wrapper:hover:before {
        left: 75%;
    }
    .blog .memorization__content .share__wrapper:hover:after {
        right: 75%;
    }
    .blog .memorization__content .share__wrapper {
        padding-left: 10px;
    }
    .blog .memorization__content .share__wrapper .air__left {
        padding-left: 15px;
    }
    .blog .other__wrapper .other__block .img__wrapper {
        max-width: 247.05px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .blog .other__wrapper .other__block p {
        max-width: 247.05px;
        margin-left: auto;
        margin-right: auto;
    }
    .blogs .article__block .img__wrapper {
        max-width: 247.05px;
        margin-left: auto;
        margin-right: auto;
    }
    .blogs .article__block p {
        max-width: 247.05px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 767px) {
    .blogs .article__block .img__wrapper {
        max-width: 247.05px;
        margin-left: auto;
        margin-right: auto;
    }
}