.contact {
    h1 {
        @include text(ProximaNova, 48px, 0.875, 700, rgb(46, 46, 46));
    }
    .contacts__wrapper {
        min-height: 700px;
        
        .contacts__block {
            min-width: 501px;
            h1 {
                @include text(ProximaNova, 36px, 1.2, 700, rgb(10, 16, 24));
            }
            p {
                @include text(ProximaNova, 15px, 1.667, 400, rgb(18, 46, 46));
                max-width: 198px;
                margin-left: 25px;
                span {
                    font-weight: 800;
                    sup {
                        font-size: 9px;
                        margin-left: 4px;
                    }
                }
            }
            a[href^="mailto"] {
                @include text(ProximaNova, 20px, 1.75, 500, rgb(33, 33, 33));
                margin-left: 25px;
            }
            .d-flex {
                .phone__wrapper {
                    margin-left: 25px;
                    a[href^="tel"] {
                        @include text(ProximaNova, 17px, 1.286, 800, rgb(53, 53, 53));
                    }
                    p {
                        @include text(ProximaNova, 14px, 1.286, 400, rgb(53, 53, 53));
                        margin-left: unset;
                    }
                }
            }
            .phone__wrapper {
                margin-left: 60px;
                a[href^="tel"] {
                    @include text(ProximaNova, 18px, 1.286, 800, rgb(53, 53, 53));
                }
                p {
                    @include text(ProximaNova, 14px, 1.286, 400, rgb(53, 53, 53));
                    margin-left: unset;
                }
                a[href^="viber"] {
                    margin-left: 10px;
                }
            }
        }
    }
}
@media (max-width: 576px) {
    .contact .contacts__wrapper .contacts__block {
        min-width: unset;
    }
    .contacts__wrapper .contacts__block {
        padding-left: 12px;
        padding-right: 12px;
    }
    .contacts__wrapper .contacts__block .callback__btn {
        margin-left: auto;
        margin-right: auto;
    }
}