.faq {
    h1 {
        @include text(ProximaNova, 48px, .875, 700, $very-dark-gray);
    }
    .question__wrapper {
        .question-header {
            @include flex(row, nowrap, center, flex-start);
            .question {
                .btn {
                    @include text(ProximaNova, 18px, 1.667, 700, $very-dark-gray);
                    max-width: 656px;
                    text-align: left;
                    &:hover {
                        text-decoration: unset;
                    }
                    &:focus {
                        text-decoration: unset;
                    }
                }
            }
            .question-toggle {
                @include flex(row, nowrap, center, center);
                background-color: #fff;
                border-width: 2px;
                border-color: rgb(2, 153, 223);
                border-style: solid;
                min-width: 48px;
                min-height: 48px;
                transition: all .3s ease;
                &.active {
                    @include flex(row, nowrap, center, center);
                    background-color: rgb(2, 153, 223);
                    border-width: 2px;
                    border-color: rgb(2, 153, 223);
                    border-style: solid;
                    min-width: 48px;
                    min-height: 48px;
                    span {
                        position: relative;
                        display: block;
                        width: 13px;
                        height: 1px;
                        background-color: rgb(46, 46, 46);
                        transform: rotate(45deg);
                        &:before {
                            content: '';
                            position: absolute;
                            width: 100%;
                            display: block;
                            left: 0;
                            top: 0;
                            transform: rotate(90deg);
                            transition: all 0.2s ease;
                            height: 1px;
                            background-color: rgb(46, 46, 46);
                        }
                    }
                }
                span {
                    position: relative;
                    display: block;
                    width: 13px;
                    height: 1px;
                    background-color: rgb(46, 46, 46);
                    transition: all .3s ease;
                    &:before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        display: block;
                        left: 0;
                        top: 0;
                        transform: rotate(90deg);
                        transition: all 0.2s ease;
                        height: 1px;
                        background-color: rgb(46, 46, 46);
                    }
                }
            }
        }
        .question-body {
            margin-left: 5.7%;
            p {
                @include text(ProximaNova, 14px, 2.143, 400, rgb(20, 20, 20));
            }
            ul {
                list-style: none;
                padding-left: 0;
                li {
                @include text(ProximaNova, 14px, 2.143, 400, rgb(20, 20, 20));
                   &::before {
                    content: "\2022";
                    color: #0299df;
                    font-weight: bold;
                    display: inline-block;
                    width: 1em;
                   } 
                }
            }
        }
    }
}
@media (max-width: 575px) {
    .faq .question__wrapper .question-body {
        margin-left: 0;
    }
}
@media (max-width: 767px) {
    .faq .question__wrapper .question-body {
        margin-left: 11%;
    }
}