.home {
    .main__banner.owl-theme {
        .owl-dots {
            position: absolute;
            bottom: 0;
            .owl-dot  {
                outline: none;
                span {
                    border-radius: 50%;
                    background-color: rgb(200, 206, 212);
                    width: 15px;
                    height: 15px;
                    transition: all 200ms ease;
                }
                &:hover span, &.active span{
                    background-color: $bright-blue;
                } 
              }
              
        }
        .owl-nav {
            position: absolute;
            top: 50%;
            left: 0%;
            right: 0%;
            display: flex;
            justify-content: space-between;
        }
        .owl-next, .owl-prev {
            border-radius: 50%;
            background-color: rgb(255, 255, 255) !important;
            box-shadow: 0px 14px 56.55px 8.45px rgba(199, 207, 213, 0.47);
            min-width: 55px;
            min-height: 55px;
            outline: none;
            cursor: pointer;
            background-repeat: no-repeat !important;
            background-position: 50% !important;
        }
        .owl-next {
            background-image: url(../images/left-arrow.png) !important;
        }
        .owl-prev {
            background-image: url(../images/right-arrow.png) !important;
        }
        .owl-next:hover, .owl-prev:hover {
            color: unset;
            background: unset;
        }
        .item {
            height: 430px;
            background-repeat: no-repeat;
            background-size: cover;
            h1 {
                @include text(ProximaNova, 36px, 1.167, 700, rgb(28, 55, 97));
            }
            p {
                @include text(ProximaNova, 18px, 1.667, 600, rgb(23, 34, 52))
            }
            .more {
                @include text(ProximaNova, 16px, 1.5, 600, $base-white-color);
                @include flex(unset, unset, center, center);
                border: 1px solid $bright-blue;
                border-radius: 5px;
                background-color: $bright-blue;
                box-shadow: 0px 5px 0px 0px rgb(18, 115, 195);
                max-width: 238px;
                width: 100%;
                min-height: 52px;
                transition: all 300ms ease;
                position: relative;
                z-index: 0; 
                             
                &:before {
                    position: absolute;
                    content: '';
                    width: 0%;
                    height: 100%;
                    background: $base-white-color;
                    top: 0;
                    left: auto;
                    right: 0;
                    z-index: -1;
                    transition: all 300ms ease;
                    border-radius: 5px;
                }
                &:hover {
                    color: $bright-blue;
                    box-shadow: unset;
                    &:before {
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 100%;
                        background: $base-white-color;
                        top: 0;
                        left: 0;
                        right: 0;
                        z-index: -1;
                    }
                }  
            }
        }
    }
    
    .assets__wrapper {
        padding-top: 2.7rem;
        padding-bottom: 2.7rem;
        background-color: $base-white-color;
        box-shadow: 0px 8px 25.23px 3.77px rgba(199, 207, 213, 0.2);
        img {
            max-width: 50px;
            max-height: 50px;
        }
        p {
            @include text(ProximaNova, 16px, 1.5, 400, rgba(36, 57, 81, .6));
            max-width: 175px;
        }
    }
    .about__wrapper {
        background-color: rgb(255,255,255);
        h1 {
            @include text(ProximaNova, 48px, 0.875, 700, $very-dark-gray);
            margin-bottom: 2rem;
        }
        p {
            @include text(ProximaNova, 16px, 1.625, 400, $very-dark-gray);
            margin-bottom: 2rem;
        }
        .more {
            @include text(ProximaNova, 14px, 3, 600, $bright-blue);
            position: relative;
            text-transform: uppercase;
            letter-spacing: 1.2px;
            &:after {
                content: url('../images/more__right-arrow.png');
                position: absolute;
                left: 115%;
                line-height: 0;
                top: 5%;
            }
        }
        img {
            border-radius: 6px;
            max-width: 532px;
            max-height: 343px;
            width: 100%;
        }
    }
    .services__wrapper {
        background-color: rgb(244, 248, 250);
        h1 {
            @include text(ProximaNova, 48px, 0.875, 700, $very-dark-gray);
        }
        .service__block {
            @include flex(column, nowrap, flex-start, space-between);
            border-radius: 6px;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 7px 40.02px 5.98px rgba(229, 236, 241, 0.52);
            max-width: 370px;
            max-height: 288px;
            padding-left: 9px;
            padding-right: 9px;
            padding-top: 9px;
            padding-bottom: 20px;
            margin-top: 1.5rem;
            h2 {
                @include text(ProximaNova, 20px, 1.5, 700, $very-dark-gray);
            }
            .more {
                @include text(ProximaNova, 14px, 3, 600, $bright-blue);
                position: relative;
                text-transform: uppercase;
                letter-spacing: 1.2px;
                &:after {
                    content: url('../images/more__right-arrow.png');
                    position: absolute;
                    left: 115%;
                    line-height: 3;
                    top: 5%;
                    
                }
                  
            }
            img {
                 width: 100%;
                 max-width: 370px;
                 max-height: 192px;
                 min-height: 192px;
            }
        }   
    }
    .reviews__wrapper {
        h1 {
            @include text(ProximaNova, 48px, 0.875, 700, $very-dark-gray);
        }
        p {
            @include text(ProximaNova, 18px, 1.667, 400, $very-dark-gray);
            margin-top: 1.2rem;
        }
    }
    .reviews__banner {
        
        .avatar {
            border-radius: 50%;
            background-color: rgb(244, 247, 249);
            max-width: 84px;
            width: 84px;
            max-height: 84px;
            height: 84px;
            background-repeat: no-repeat;
            background-size: auto;
            background-position: top;
        }
        .initials {
            @include text(ProximaNova, 18px, 1.333, 600, $very-dark-gray);
        }
        .date {
            @include text(ProximaNova, 16px, 1.5, 400, rgb(113, 122, 132));
        }
        .star-rating__wrapper {
            display: inline-block;
            font-size: 1rem;
            margin-top: .5rem;
            &:after {
                content: "";
                display: table;
                clear: both;
            }
            .star-rating__input {
                display: none;
            }
            .star-rating__ico {
                float: right;
                padding-left: 2px;
                cursor: pointer;
                color: #e4e4e4;
                font-size: 1em;
                &:last-child {
                    padding-left: 0;
                }
            }
            .star-rating__checked {
                color: #f89f00;
            }
        }
        .star-rating__ico {
            float: right;
            padding-left: 2px;
            cursor: pointer;
            color: #e4e4e4;
            line-height: 1.5;
            position: relative;
            &:last-child {
                padding-left: 0;
            }
        }
        .owl-dots {
            
            .owl-dot  {
                outline: none;
                zoom: 1.4;
                span {
                    border-radius: 50%;
                    background-color: rgb(200, 206, 212);
                    width: 15px;
                    height: 15px;
                    transition: all 200ms ease;
                    border-style: solid;
                    border-width: 2px;
                    border-color: rgb(200, 206, 212);
                    border-radius: 50%;
                }
                &:hover span, &.active span{
                    
                    background-color: rgba(55, 152, 231, 0);
                      
                } 
              }
              
        }
        .owl-nav {
            position: absolute;
            top: 35%;
            left: 8%;
            right: 8%;
            display: flex;
            justify-content: space-between;
        }
        .owl-next, .owl-prev {
            border-radius: 50%;
            background-color: rgb(255, 255, 255) !important;
            box-shadow: 0px 14px 56.55px 8.45px rgba(199, 207, 213, 0.47);
            min-width: 55px;
            min-height: 55px;
            outline: none;
            cursor: pointer;
            background-repeat: no-repeat !important;
            background-position: 50% !important;
        }
        .owl-next {
            background-image: url(../images/left-arrow.png) !important;
        }
        .owl-prev {
            background-image: url(../images/right-arrow.png) !important;
        }
        .owl-next:hover, .owl-prev:hover {
            color: unset;
            background: unset;
        }
        .owl-stage {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        .owl-item {
            border-style: solid;
            border-width: 8px;
            border-color: rgb(255, 255, 255);
            border-radius: 6px;
            filter: blur(.6px);
            &.center {
                box-shadow: 0px 14px 30.45px 4.55px rgba(221, 223, 225, 0.51);
                filter: unset;
                .message {
                    color: $very-dark-gray;
                }
            }
        }
        .message__block {
            @include flex(column, wrap, flex-start, space-between);
            background-color: rgb(244, 248, 250);
            padding-left: 25px;
            padding-top: 15px;
            padding-right: 25px;
            padding-bottom: 50px;
        }
        .message {
            @include text(ProximaNova, 13.97px, 1.5, 400, rgba(46, 46, 46, 0.4));
        }
    }
    .all__reviews-wrapper  {
        .container {
            background-image: url(../images/boxes.png);
            background-repeat: no-repeat;
            background-position: 95% 100%;
            background-size: auto;
            padding-bottom: 5rem;
        }
    }
    
    .continue {
        @include text(ProximaNova, 18px, 1.333, 600, $base-white-color);
        @include flex(unset, unset, center, center);
        border: 1px solid $bright-blue;
        border-radius: 5px;
        background-color: rgb(55, 152, 231);
        box-shadow: 0px 5px 0px 0px rgb(18, 115, 195);
        min-width: 290px;
        max-width: 290px;
        min-height: 63px;
        transition: all 300ms ease;
        position: relative;
        z-index: 0;
        &:before {
            position: absolute;
            content: '';
            width: 0%;
            height: 100%;
            background: $base-white-color;
            top: 0;
            left: auto;
            right: 0;
            z-index: -1;
            transition: all 300ms ease;
            border-radius: 5px;
        }
        &:hover {
            color: $bright-blue;
            box-shadow:unset;
            &:before {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                background: $base-white-color;
                top: 0;
                left: 0;
                right: 0;
                z-index: -1;
            }
        }
    }
}
.contacts__wrapper {
    @include flex(row, wrap, center, unset);
    min-height: 488px;
    position: relative;
    iframe {
        position: absolute;
        right: 0;
        left: 0;
        height: 100%;
    }
    .contacts__block {
        @include flex(column, wrap, stretch, space-evenly);
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 7px 67.16px 5.84px rgba(224, 229, 233, 0.39);
        min-width: 343px;
        min-height: 360px;
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 25px;
        padding-top: 30px;
        h1 {
            @include text(ProximaNova, 48px, 0.875, 700, $very-dark-gray);
        }
        p {
            @include text(ProximaNova, 18px, 1.667, 400, $very-dark-gray);
        }
        a {
            @include text(ProximaNova, 36px, 0.833, 600, $very-dark-gray);
        }
        .callback__btn {
            @include text(ProximaNova, 18px, 1.333, 600, $base-white-color);
            @include flex(unset, unset, center, center);
            border: 1px solid $bright-blue;
            border-radius: 5px;
            background-color: rgb(55, 152, 231);
            box-shadow: 0px 5px 0px 0px rgb(18, 115, 195);
            min-width: 290px;
            max-width: 290px;
            min-height: 63px;
            transition: all 300ms ease;
            position: relative;
            z-index: 0; 
            &:before {
                position: absolute;
                content: '';
                width: 0%;
                height: 100%;
                background: $base-white-color;
                top: 0;
                left: auto;
                right: 0;
                z-index: -1;
                transition: all 300ms ease;
                border-radius: 5px;
            }
            &:hover {
                color: $bright-blue;
                box-shadow:unset;
                &:before {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 100%;
                    background: $base-white-color;
                    top: 0;
                    left: 0;
                    right: 0;
                    z-index: -1;
                }
            }
        }
    }
}
.home .owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled {
    display: none;
}
@media (max-width: 575px) {
    .home .main__banner.owl-theme .item {
        height: 500px;
    }
    .home .assets__wrapper {
        padding-top: 1.7rem;
    }
    .home .assets__wrapper p {
        text-align: center;
    }
    .home .reviews__banner .message__block {
        align-items: center;
        margin-top: 15px;
    }
    .home .continue {
        margin-left: auto;
        margin-right: auto;
    }
    .contacts__wrapper iframe {
        position: static;
        min-height: 300px;
    }
    .contacts__wrapper .container {
        order: -1;
    }
}