.reviews {
    margin-bottom: 3rem;
    h1 {
        @include text(ProximaNova, 48px, 0.875, 700, rgb(46, 46, 46));
    }
    .comment--wrapper {
        margin-top: 37px;
        padding-bottom: 20px;
        h2 {
            @include text(ProximaNova, 14px, 1.2, 600, rgb(0, 0, 0));
            span {
                @include text(ProximaNova, 14px, 1.2, 400, rgb(55, 152, 231));
                margin-left: 18px;
            }
        }
        p {
            @include text(ProximaNova, 14px, 1.714, 400, rgb(74, 74, 74));
            margin-top: .5rem;
        }
        .star-rating__wrapper {
            display: inline-block;
            font-size: 1rem;
            margin-top: .5rem;
            &:after {
                content: "";
                display: table;
                clear: both;
            }
            .star-rating__input {
                display: none;
            }
            .star-rating__ico {
                float: right;
                padding-left: 2px;
                cursor: pointer;
                color: #e4e4e4;
                font-size: 1em;
                &:last-child {
                    padding-left: 0;
                }
            }
            .star-rating__checked {
                color: #f89f00;
            }
        }
        .star-rating__ico {
            float: right;
            padding-left: 2px;
            cursor: pointer;
            color: #e4e4e4;
            line-height: 1.5;
            position: relative;
            &:last-child {
                padding-left: 0;
            }
        }
        
        .useful__wrapper {
            @include flex(row, wrap, center, space-between);
            span {
                @include flex(row, wrap, center, space-between);
                @include text(ProximaNova, 14px, 1.2, 600, unset);
                min-width: 44px;
                .liked {
                    border: none;
                    outline: none;
                    border-radius: 50%;
                    background-color: #66b780;
                    width: 30px;
                    height: 30px;
                    background-image: url(../images/like.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    transition: all .3s ease;
                }
                .disliked {
                    border: none;
                    outline: none;
                    border-radius: 50%;
                    background-color: #ff0b73;
                    width: 30px;
                    height: 30px;
                    background-image: url(../images/dislike.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    transition: all .3s ease;
                }
            }
        }
        
    }
    .separator {
        background-color: rgb(240, 240, 240);
        height: 1px;
        width: 100%;
    }
    .leave__review {
        @include text(ProximaNova, 18px, 1.333, 600, $base-white-color);
        @include flex(row, wrap, center, center);
        border-radius: 5px;
        background-color: rgb(55, 152, 231);
        min-height: 53px;
        border: none;
        width: 100%;
    }
}
.star-rating{
	font-size: 0;
}
.star-rating__wrap{
	display: inline-block;
	font-size: 1rem;
}
.star-rating__wrap:after{
	content: "";
	display: table;
	clear: both;
}
.star-rating__ico{
	float: right;
	padding-left: 2px;
	cursor: pointer;
	color: #FFB300;
}
.star-rating__ico:last-child{
	padding-left: 0;
}
.star-rating__input{
	display: none;
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
	content: "\f005";
}

@media (max-width: 575px) {
    .reviews .comment--wrapper .row.justify-content-end {
        justify-content: flex-start !important;
    }
}
@media (max-width: 767px) {
    .reviews .comment--wrapper .row.justify-content-end {
        justify-content: flex-start !important;
    }
}