.total__services {
    @include text(ProximaNova, 15px, 1.667, 600, rgb(202, 214, 223));
}
.pagination__wrapper {
    @include flex(row, nowrap, stretch, space-between);
    padding-left: unset;
    width: 100%;
    a {
        cursor: pointer;
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
    }
    span {
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
    }
    li {
        list-style: none;
    }
    .backward {
        &.disabled {
            cursor: no-drop
        }
        cursor: pointer;
        display: block;
        border-width: 2px;
        border-color: rgb(239, 244, 248);
        border-style: solid;
        background-color: rgb(255, 255, 255);
        min-width: 101px;
        min-height: 36px;
        transition: all .25s ease;
        span {
            @include text(ProximaNova, 15px, 2, 600, rgb(33, 33, 33));
        }
        a {
            @include text(ProximaNova, 15px, 2, 600, rgb(33, 33, 33));
        }
        &:hover {
            background-color: rgb(31, 151, 243);
            color: rgb(255, 255, 255);
            border-color: rgb(31, 151, 243);
        }
        &:hover a {
            color: rgb(255, 255, 255);
        }
        &:hover span {
            color: rgb(255, 255, 255);
        }
    }
    .item {
        a {
            @include text(ProximaNova, 20px, 1.5, 600, rgb(33, 33, 33));
        }
        border-width: 2px;
        border-color: rgb(239, 244, 248);
        border-style: solid;
        background-color: rgb(255, 255, 255);
        min-width: 46px;
        min-height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .25s ease;
        &:hover a {
            color: rgb(255, 255, 255);
        }
        &.active {
            background-color: rgb(31, 151, 243);
            color: rgb(255, 255, 255);
            border-color: rgb(31, 151, 243);
        }
        &.active a {
            color: rgb(255, 255, 255);
        }
        &:hover {
            background-color: rgb(31, 151, 243);
            color: rgb(255, 255, 255);
            border-color: rgb(31, 151, 243);
        }
          
    }
    .forward {
        &.disabled {
            cursor: no-drop
        }
        span {
            display: block;
            width: 100%;
            height: 100%;
            text-align: center;
        }
        border-width: 2px;
        border-color: rgb(239, 244, 248);
        border-style: solid;
        background-color: rgb(255, 255, 255);
        min-width: 101px;
        min-height: 36px;
        transition: all .25s ease;
        span {
            @include text(ProximaNova, 15px, 2, 600, rgb(33, 33, 33));
        }
        a {
            @include text(ProximaNova, 15px, 2, 600, rgb(33, 33, 33));
        }
        &:hover {
            background-color: rgb(31, 151, 243);
            color: rgb(255, 255, 255);
            border-color: rgb(31, 151, 243);
        }
        &:hover a {
            color: rgb(255, 255, 255);
        }
        &:hover span {
            color: rgb(255, 255, 255);
        }
    }
}
.services {
    h1 {
        @include text(ProximaNova, 48px, .875, 700, $very-dark-gray);
    }
    .service__block {
        @include flex(column, nowrap, flex-start, space-between);
        border-radius: 6px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 5px 20.88px 3.12px rgba(222, 229, 234, 0.54);
        max-width: 370px;
        max-height: 288px;
        padding-left: 9px;
        padding-right: 9px;
        padding-top: 9px;
        padding-bottom: 20px;
        margin-top: 1.5rem;
          
        h2 {
            @include text(ProximaNova, 20px, 1.5, 700, $very-dark-gray);
        }
        .more {
            @include text(ProximaNova, 14px, 3, 600, $bright-blue);
            position: relative;
            text-transform: uppercase;
            letter-spacing: 1.2px;
            &:after {
                content: url('../images/more__right-arrow.png');
                position: absolute;
                left: 115%;
                line-height: 3;
                top: 5%;
            }
              
        }
        img {
             width: 100%;
             max-width: 370px;
             max-height: 192px;
             min-height: 192px;
        }
    }
}
.service {
    margin-bottom: 3rem;
    h1 {
        @include text(ProximaNova, 48px, .875, 700, $very-dark-gray);
    }
    .service__block {
        
        img {
            width: 100%;
            max-width: 1171;
            max-height: 539px;
        }
        p {
            @include text(ProximaNova, 14px, 1.667, 400, #212121);
            margin-top: 30px;
        }
        .inaction {
            margin-top: 40px;
            h3 {
                font-family: ProximaNova;
                font-size: 15px;
                line-height: 1.667;
                font-weight: 700;
                color: #212121;
            }
            ul {
                list-style-type: none;
                padding-left: 0;
                margin-top: 20px;
                li {
                    position: relative;
                    padding-left: 25px;
                    &:before {
                        content: url(../images/circle_mark.png);
                        position: absolute;
                        top: 0%;
                        left: 0;
                    }
                    p {
                        font-family: ProximaNova;
                        font-size: 14px;
                        line-height: 2;
                        font-weight: 400;
                        color: #212121;
                        margin-top: unset;
                    }
                }
            }
        }
    }
    
}
@media (max-width: 575px) {
    .pagination__wrapper .forward {
        min-width: unset;
    }
    .pagination__wrapper .backward {
        min-width: unset;
    }
    .pagination__wrapper .item {
        min-width: 30px;
    }
}