.footer {
    padding-top: 40px;
    background-color: $very-dark-desaturated-blue;
    img {
        width: 100%;
        max-width: 344px;
        max-height: 49px;
    }
    p {
        @include text(ProximaNova, 15px, 1.714, 400, $base-white-color);
    }
    .contacts {
        @include flex(column, wrap, flex-end, unset);
        .telephone {
            @include text(ProximaNova, 24px, 1, 600, $base-white-color);
            position: relative;
            
            &:before {
                content: url('../images/call-answer.png');
                position: absolute;
                top: 0;
                left: -35px;
            }
        }
        .email {
            @include text(ProximaNova, 16px, 1.125, 400, $base-white-color);
            margin-top: 8.5px;
        }
    }
    .callback__btn {
        @include text(ProximaNova, 14px, 1.714, 600, $base-white-color);
        border: 2px solid $bright-blue;
        border-radius: 5px;
        background-color: transparent;
        width: 100%;
        min-height: 53px;
        transition: all 300ms ease;
        position: relative;
        z-index: 0; 
    }
    .lang__wrapper {
        padding-top: 10.70px;
        .lang__ico {
            cursor: pointer;
            img {
                width: 100%;
                max-width: 39px;
                max-height: 39px;
            }
            input {
                position: absolute;
                opacity: 0;
            }
        }
    }
    .nav__wrapper {
        min-height: 53px;
        @include flex(row, nowrap, center, unset);
        .main-nav {
            @include flex(row, wrap, unset, space-between);
            width: 100%;
            list-style: none;
            padding-left: 0;
            a {
                @include text(ProximaNova, 16px, 2.625, 600, $base-white-color);
                text-decoration: none;
                transition: all 300ms ease;
                position: relative;
                z-index: 0;
                span {
                    position: relative;
                    &:before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: auto;
                        right: 0;
                        height: 10%;
                        width: 0%;
                        background: $base-white-color;
                        z-index: -1;
                        transition: all 300ms ease;
                    }
                }
                &:hover {
                    span {
                        &:before {
                            content: '';
                            width: 100%;
                            left: 0;
                            right: 0;
                        }
                    }
                }
            }
        }
        .social__wrapper {
            @include flex(row, wrap, center, space-between);
            height: 100%;
            width: 25%;
        }
    }
    .rights {
        background-color: #fff;
        p {
            @include text(ProximaNova, 14px, 1.714, 400, rgb(113, 122, 132));
            a {
                color: #3798e7;
                text-decoration: underline;
            }
        }
        
    }
}
@media (max-width: 576px) {
    .footer p {
        text-align: center;
    }
    .footer .contacts {
        align-items: center;
    }
    .footer .contacts .email {
        margin-top: 0;
    }
    .footer .callback__btn {
        margin-top: 15px;
    }
    .footer .row.pt-1.mb-5 {
        margin-bottom: 1rem !important;
    }
    .footer .col-xl-2.col-12.pl-0 {
        padding-left: 15px !important;
    }
    .footer .lang__wrapper {
        display: flex;
        justify-content: center;
    }
    .footer .nav__wrapper .main-nav {
        flex-direction: column;
        align-items: center;
    }
}