.swal2-container.swal2-backdrop-show {
    z-index: 10000;
}
.header {
    .hc-nav-trigger {
        position: relative;
        top: 0;
        left: 0;
    }
    img {
        width: 100%;
        max-width: 344px;
        max-height: 49px;
    }
    p {
        @include text(ProximaNova, 15px, 1.714, 400, $dark-grayish-bluer);
    }
    .contacts {
        @include flex(column, wrap, flex-end, unset);
        .telephone {
            @include text(ProximaNova, 24px, 1, 600, $very-dark-desaturated-blue);
            position: relative;
            &:before {
                content: url('../images/call-answer.png');
                position: absolute;
                top: 0;
                left: -35px;
            }
        }
        .email {
            @include text(ProximaNova, 16px, 1.125, 400, $bright-blue);
            margin-top: 8.5px;
        }
    }
    img.callback__btn {
        width: auto;
        display: none;
        margin-left: auto;
    }
    button.callback__btn {
        @include text(ProximaNova, 14px, 1.714, 600, $base-white-color);
        border: 1px solid $bright-blue;
        border-radius: 5px;
        background-color: $bright-blue;
        width: 100%;
        min-height: 53px;
        transition: all 300ms ease;
        position: relative;
        z-index: 0;
        outline: none; 
        &:before {
            position: absolute;
            content: '';
            width: 0%;
            height: 100%;
            background: $base-white-color;
            top: 0;
            left: auto;
            right: 0;
            z-index: -1;
            transition: all 300ms ease;
            border-radius: 5px;
        }
        &:hover {
            color: $bright-blue;
            &:before {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                background: $base-white-color;
                top: 0;
                left: 0;
                right: 0;
                z-index: -1;
            }
        }
    }
    
    .dropdown-menu.lang__ico.language-button.selectpicker {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: static;
        padding: 0;
        margin: 0;
        border: unset;
        .dropdown-item {
            padding: 0;
            .lang__ico img {
                max-width: 39px;
                max-height: 39px;
                width: 39px;
                height: 39px;
            }
        }
        .dropdown-item:hover, .dropdown-item:focus {
            background-color: unset;
        }
    }
    .nav__wrapper {
        background-color: $very-dark-desaturated-blue;
        min-height: 53px;
        @include flex(row, nowrap, center, unset);
        .main-nav {
            @include flex(row, wrap, unset, space-between);
            width: 100%;
            list-style: none;
            padding-left: 0;
            a {
                @include text(ProximaNova, 16px, 2.625, 600, $base-white-color);
                text-decoration: none;
                transition: all 300ms ease;
                position: relative;
                z-index: 0;
                span {
                    position: relative;
                    &:before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: auto;
                        right: 0;
                        height: 10%;
                        width: 0%;
                        background: $base-white-color;
                        z-index: -1;
                        transition: all 300ms ease;
                    }
                }
                &:hover {
                    span {
                        &:before {
                            content: '';
                            width: 100%;
                            left: 0;
                            right: 0;
                        }
                    }
                }
            }
        }
        .social__wrapper {
            @include flex(row, wrap, center, space-between);
            height: 100%;
            width: 25%;
        }
    }
}
@media (max-width: 576px) {
    .header .row.pt-1.mb-5 .col-xl-3:nth-child(1) {
        order: -2;
    }
    .header .row.pt-1.mb-5 .col-xl-3:nth-child(4) {
        order: -1;
    }
    .header p {
        font-size: 12px;
        line-height: 1.654;
    }
    .header .contacts {
        align-items: flex-start;
    }
    .header .contacts .email {
        margin-top: 0;
    }
    
    .header .row.pt-1.mb-5 {
        margin-bottom: 1rem !important;
    }
    .header .col-xl-2.col-12.pl-0 {
        padding-left: 15px !important;
    }
    .header .lang__wrapper {
        display: flex;
        justify-content: center;
    }
    .header .contacts .telephone:before {
        content: '';
    }
    .header .contacts .telephone {
        font-size: 18px;
    }
    .header img.callback__btn {
        display: block;
    }
    button.callback__btn {
        display: none;
    }
}
@media (max-width: 1025px) {
    #main-nav, .lang__wrapper {
        display: none !important;
    }
}
@media (min-width: 1026px) {
    #mob-nav {
        display: none;
    }
}