$dark-grayish-bluer: rgb(113, 122, 132);
$very-dark-desaturated-blue: rgb(36, 57, 81);
$bright-blue: rgb(55, 152, 231);
$base-white-color: rgb(255,255,255);
$dark-blue: rgb(0, 99, 171);
$very-dark-gray: rgb(46, 46, 46);